@use "mixins" as *;

.artist-image {
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 0 auto 0.5rem;
  background-image: url(../assets/empty.png);
  background-size: contain;

  @include breakpoints-up(large) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(250px, 1fr));
  }
}

.artist-name {
  font-size: 2.5rem;
  text-align: center;
  margin-inline: auto;
  // width: 75%;
}

.tags {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.bio {
  max-width: 800px;

  padding: 0.5rem 1.5rem;

  margin-top: 20px;
  margin-inline: auto;

  // background-color: rgb(25, 25, 25);

  font-size: 1.25rem;
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.top-albums h2 {
  text-align: center;
  margin-top: 1rem;
  @include breakpoints-up(medium) {
    text-align: left;
  }
}

.top-albums-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    .top-albums-title {
      width: 200px;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 700;
      margin-top: 0.5rem;
    }
    .top-albums-artist {
      color: var(--color);
      width: 200px;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
