@use "mixins" as *;

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  background-color: var(--color);
  color: white;

  a:first-child {
    margin-right: auto;
  }

  h1 {
    text-transform: uppercase;
    color: white;
    padding: 0 20px 0 20px;
  }

  h3 {
    text-transform: uppercase;
    color: white;
    padding: 0 20px 0 20px;
  }

  @include breakpoints-down(small) {
    h3 {
      display: none;
    }
  }
}
