.search {
  // text-align: left;
  padding-top: 30px;
  h2 {
    font-size: 1.3rem;
  }
}

.search-bar {
  display: block;
  width: 250px;
  padding: 10px;
  margin-block: 0.3rem;
  margin-inline: auto;
  border-radius: 2rem;
  border: 0;
  padding: 10px;
  outline: none;
  font-size: 1.2rem;

  &::placeholder {
    font-style: italic;
    letter-spacing: 0.7px;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.862);
    &::placeholder {
      color: blueviolet;
    }
  }
}

.searches {
  max-width: 650px;
  min-height: 4.8rem;
  max-height: 100%;
  margin-inline: auto;
}

.search-result {
  display: inline-block;
  padding: 0.35rem 0.7rem;
  margin: 0.25rem;
  font-size: 1.2rem;
  color: white;
  background-color: blueviolet;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: white;
    color: black;
  }
}
