.song-chart {
  div {
    // background-color: rgb(25, 25, 25);
    max-width: 520px;
    margin: auto;
    table {
      text-align: left;
      width: 100%;
      max-width: 500px;
      margin-inline: auto;
      //   margin-block-end: 20px;
      td {
        padding: 0.5rem 0.1rem;
      }
      .song-index {
        width: 1rem;
        font-style: italic;
        font-size: 1.75rem;
      }
      .song-artist {
        text-align: right;
        padding-right: 1rem;
        font-size: 1.5rem;
        color: var(--color);
      }
      .song-title {
        font-size: 1.3rem;
      }
    }
  }
}
